addict==2.4.0
annotated-types==0.7.0
asttokens==3.0.1
attrs==26.1.0
blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.6
click==8.1.8
comm==0.2.3
ConfigArgParse==1.7.5
cycler==0.12.1
dash==4.1.0
decorator==5.2.1
einops==0.7.0
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
Flask==3.1.3
fonttools==4.60.2
idna==3.11
importlib_metadata==8.7.1
ipython==8.18.1
ipywidgets==8.1.8
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.3
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_core==5.8.1
jupyterlab_widgets==3.0.16
kiwisolver==1.4.7
MarkupSafe==3.0.3
matplotlib==3.5.2
matplotlib-inline==0.2.1
-e git+https://github.com/quan-dao/mixed-signals-devkit.git@4f1f259e0d0fdc9ccfaf9f22b9627c02e263fe3d#egg=mixedsignals
narwhals==2.18.1
nbformat==5.10.4
nest-asyncio==1.6.0
numpy==1.24.4
open3d==0.18.0
packaging==26.0
pandas==2.3.3
parso==0.8.6
pexpect==4.9.0
pillow==11.3.0
platformdirs==4.4.0
plotly==6.6.0
prompt_toolkit==3.0.52
ptyprocess==0.7.0
pure_eval==0.2.3
pydantic==2.12.5
pydantic_core==2.41.5
Pygments==2.20.0
pyparsing==3.3.2
pypcd4==1.1.0
pyquaternion==0.9.9
python-dateutil==2.9.0.post0
python-lzf==0.2.6
pytz==2026.1.post1
PyYAML==6.0.3
referencing==0.36.2
requests==2.32.5
retrying==1.4.2
rpds-py==0.27.1
scikit-learn==1.6.1
scipy==1.13.1
six==1.17.0
stack-data==0.6.3
threadpoolctl==3.6.0
tqdm==4.67.3
traitlets==5.14.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wcwidth==0.6.0
Werkzeug==3.1.7
widgetsnbextension==4.0.15
zipp==3.23.0
